<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>354413287546-daso4i7hn5mn94baf9k7on14tu76ejrr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.354413287546-daso4i7hn5mn94baf9k7on14tu76ejrr</string>
	<key>API_KEY</key>
	<string>AIzaSyAKk0Brh5pz0XthYkkZaxka2CgRfpFYMnI</string>
	<key>GCM_SENDER_ID</key>
	<string>354413287546</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pl.jewusiak.inwentarzEe</string>
	<key>PROJECT_ID</key>
	<string>inwentarz-ee</string>
	<key>STORAGE_BUCKET</key>
	<string>inwentarz-ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:354413287546:ios:701eb33de80c72b8c203c3</string>
</dict>
</plist>